<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="author" content="Wayou">
        <meta name="description" content="hichat | a simple chat application built with node.js and websocket">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>十影|<%=user.username%></title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="http://pub.idqqimg.com/smartqq/css/mq.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <!--好友列表部分开始-->
<!--         <div class="friendListBox">
            <ul class="friendList nav nav-pills" id="friendListWrapper">
                <li><a href="#friend">好友</a></li>
                <li><a href="#group">群组</a></li>
                <li><a href="#dynamic">动态</a></li>
            </ul>
        </div>
        <div id="friend"  class="model"></div>
        <div id="group"   class="model"></div>
        <div id="dynamic" class="model"></div> -->
        <div id="main_container" style="display: block;margin-left: 40px;">
                <div class="panel main-panel" id="panel-0" style="display: block; transition: -webkit-transform 0.4s cubic-bezier(0, 1, 0, 1); transform: translate3d(0px, 0px, 0px);">
                    <!--头部的图片和名字-->
                    <div id="panelBodyWrapper-0" class="panel_body_container" style=" bottom: 50px;">
                            <div id="panelBody-0" class="panel_body "><div id="mainTopAll" cmd="void"><div class="accountHeader">
                                <div class="avatar_wrap">
                                    <img src="http://q.qlogo.cn/g?b=qq&amp;nk=1343313258&amp;s=100&amp;t=1492343437056" width="40" height="40">
                                    <span id="user_online_state" class="state_online"></span>
                                </div>
                                <span class="text_ellipsis user_nick">XUEGAN </span>
                            </div>
                          
                        </div>
                        <!--头部和图片部分结束-->
                        <div class="panel selected" id="panel-2" cmd="void">
                            <header id="panelHeader-2" class="panel_header">

                                <div id="panelLeftButton-2" class="btn btn_small btn_left btn_black contact_null_btn" >
                                    
                                </div>
                                <h1 id="panelTitle-2" class="text_ellipsis padding_20">联系人</h1>
                                <!--搜索好友或者群组-->
                                <button id="panelRightButton-2" class="btn btn_small btn_right btn_black btn_search" >
                                    <span id="panelRightButtonText-2" class="btn_img"></span>
                                </button>

                            </header>

                            <div id="panelBodyWrapper-2" class="panel_body_container" style="top: 45px; ">
                                <div id="panelBody-2" class="panel_body "><div id="contactList" class="tab tab_animate member_tab">

                                        <ul id="memberTab" class="tab_head">
                                            <li cmd="clickMemberTab" param="friend" class="active">好友</li>
                                            <li cmd="clickMemberTab" param="group">群组</li>
                                        </ul>

                                        <ul class="tab_body member_tab_body">
                                            <!--好友列表部分-->
                                            
                                            <!--群组列表部分-->
                                           
                                        </ul>
                                    </div>
                                </div>
                                <ul id="pannelMenuList-2" class="pannel_menu_list">
                                </ul>
                            </div>

                        </div>
                        </div>
                    <ul id="pannelMenuList-0" class="pannel_menu_list">
                    </ul>
                </div>
                <!--底部的一部分导航-->
                    <footer id="panelFooter-0" class="">
                        <nav id="nav_tab" cmd="void">
                        <ul class="nav_tab_head">

                         <!--    <li id="session" class="contact" cmd="clickNav" param="session">
                                <a>
                                    <div class="icon"></div>
                                    <span>会话</span>
                                </a>
                            </li> -->

                            <li id="contact" class="conversation selected" cmd="clickNav" param="contact">
                                <a>
                                    <div class="icon"></div>
                                    <span>联系人</span>
                                </a>
                            </li>


                            <li id="setting" class="setup" cmd="clickNav" param="setting">
                                <a>
                                    <div class="icon"></div>
                                    <span>设置</span>
                                </a>
                            </li>

                        </ul>
                        <!--切换背景图片-->
                        <div class="wallpaper-ctrl">
                            <a href="###" class="wallpaperImg pre" id="wp-ctrl-pre" title="点击切换背景图片" cmd="clickWPPre"> </a>
                            <a href="###" class="wallpaperImg next" id="wp-ctrl-next" title="点击切换背景图片" cmd="clickWPNext"> </a>
                        </div>
                    </nav>
                    </footer>

                </div>
        </div>
        <!--好友列表部分结束-->
        <!--中间聊天室部分开始-->
        <div class="wrapper">
            <div class="banner">
                <h3 id="chatRoomTittle">十影聊天室</h3>
                <span style="color:#636363; display:none" id="status"></span>
            </div>
            <div id="historyMsg">
            </div>
            <div class="controls" >
                <div class="items">
                    <input id="colorStyle" type="color" placeHolder='#000' title="font color" />
                    <input id="emoji" type="button" value="表情" title="emoji" />
                    <label for="sendImage" class="imageLable">
                        <input type="button" value="图片"  />
                        <input id="sendImage" type="file" value="图片"/>
                    </label>
                    <input id="clearBtn" type="button" value="清除" title="clear screen" />
                    <input style="float:right;" id="chatRecords" type="button" value="聊天记录" />
                </div>
                <textarea id="messageInput" placeHolder="点击发送消息"></textarea>
                <input id="sendBtn" type="button" class="btn btn_blue btn_small" value="发送">
                <div id="emojiWrapper">
                </div>
            </div>
        </div>
        <!--中间聊天室部分结束-->
        <!--当前在线成员-->
        <div class="onLineUser" style="position:absolute;right:30px;top:0;">
            <ul class="onLineUserList" id="userListWrapper">
                
            </ul>
        </div>
        <!--当前在线人员结束-->

        <div id="loginWrapper">
            <p id="info">正在连接服务器...</p>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/jquery.min.js"></script>
        <script>
        /**REMOVE ME IF YOU CANT ACCESS GOOGLE SERVICE**/
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
          ga('create', 'UA-46794744-7', 'hichat.herokuapp.com');
          ga('send', 'pageview');
        /**REMOVE END**/

          var USERNAME = '<%=user.username%>';
          console.log(USERNAME);
        </script>
        <script src="/javascripts/hichat.js"></script>

    </body>
</html>
