	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>

	<script type="text/javascript">
	/*
		$('.navbar-nav li').click(function () {
			$(this).addClass('active');
			$(this).siblings().removeClass('active');
		})	
		*/
	</script>
</body>
</html>