<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>用户注册</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <style>
    .reg-box{
      background: rgba(235, 164, 56, 0.6);
      -webkit-border-radius:;
      -moz-border-radius:;
      border-radius:50% 50%;
      margin-top:12%;
      color: white;
      padding-top: 20px;
    }
  </style>
</head>
<body>


  <div class="reg-box col-sm-4 col-sm-offset-3" style="margin-top:12%;">
    <form class="form-horizontal">
      <fieldset>
        <div class="col-sm-12" style="text-align: center;font-size: 18px;">新用户注册</div>

        <div class="form-group">
          <label for="username" class="control-label col-sm-4">用户名</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="control-label col-sm-4">密码</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="password" name="password" placeholder="密码">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="control-label col-sm-4">再次输入密码</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="repassword" name="repassword" placeholder="请再次输入密码">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-10" style="text-align: center;">
            <button  id="regBtn" class="btn btn-primary">注册</button>
            <a href="/login" type="button" class="btn btn-primary">登录</a>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/jquery.backstretch.min.js"></script>
  <script type="text/javascript">
      $.backstretch([
          "/images/reg-back3.jpg",
      ], {
          fade: 4000,
          duration: 6000
      });
  </script>
  <script>
    var regBtn = document.getElementById('regBtn');
    var username = document.getElementById('username');
    var password = document.getElementById('password');
    var repassword = document.getElementById('repassword');

    regBtn.onclick = function(){

      if(!username.value || !password.value || !repassword.value){
        alert('用户名和密码不能为空');
        return ;
      }
      if(password.value !== repassword.value){
        alert('两次输入数码需相同');
        return ;
      }
      $.ajax({
        type: 'post',
        dataType: 'json',
        data: {
          username: username.value,
          password: password.value,
          repassword: repassword.value
        },
        url: '/reg',
        success: function (data) {
          if (data.status === 400) {
            alert(data.msg);
            window.location.href = '/reg';
          } else {
            alert(data.msg);
            window.location.href = '/';
          }
        },
        error: function (e) {
          console.log(e)
          alert("请求失败");
          window.location.href = '/reg';
        },
      })
    }

  </script>

</body>
</html>